.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("./assets/fonts/IRANSansWeb_Medium/iransansweb_medium.eot");
  src: url("./assets/fonts/IRANSansWeb_Medium/iransansweb_medium.eot?#iefix")
  format("embedded-opentype"),
  url("./assets/fonts/IRANSansWeb_Medium/iransansweb_medium.woff2")
  format("woff2"),
  url("./assets/fonts/IRANSansWeb_Medium/iransansweb_medium.woff")
  format("woff"),
  url("./assets/fonts/IRANSansWeb_Medium/iransansweb_medium.ttf")
  format("truetype"),
  url("./assets/fonts/IRANSansWeb_Medium/iransansweb_medium.svg#iransanswebmedium")
  format("svg");
  font-weight: normal;
  font-style: normal;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
